body
{
    background-color: black;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}



#header
{    
    grid-column: 1;
    grid-row: 1;  
    background-color: #080808;  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
    color: #FF5733;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1
{
    
    font-size: 30pt;
    color:  #FF5733;
}

#mid
{    
    padding-top: 100px;
    padding: 10px;
    margin-left:auto; 
    margin-right:auto;
    width: 800px;
    color: #818181;
}

#tabela 
{
    width: 580px;
    border: 1px dashed grey;
    text-align: center;
}

#tabela thead {
  background-color: #FF5733;
  border: 5px solid white;
  text-align: center;
  font-weight: bold;
  color: white; 
  font-size: large;
  padding: 3px;
  
}

#tabela th{
    
    text-align: center;
    border: 5px solid white;
    padding: 2px;
    min-width: 150px;
  }

#tabela td{
    border: 5px solid white;
    background-color: #FFC7BA;
    text-align: center;
    color: #080808;
    padding: 3px;
  }

a
{
    text-decoration: none !important;
    color: white;
}
