body
{
    background-color: #181818;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-gap: 10px;
}

#unos {
  min-width: 400px;
  min-height: 200px;;
}

#header
{    
    grid-column: 1;
    grid-row: 1;  
    background-color: rgba(0,0,0,.8);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
}

h1
{    
    font-size: 30pt;
    color: #0266AE;
}

#mid
{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    background-color: rgba(0,0,0,.8);
    padding: 10px;
    margin-left:auto; 
    margin-right:auto;
    color: #818181;
}


input[type=text], textarea, select{
    background-color: rgba(0,0,0,.8);
    border: 1px #181818 solid;
    color:lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
  }
  
  input[type=text]:focus, textarea:focus, select:focus {
    border: 1px solid #282828;
  }

 button{
    background: transparent;
    border: 1px solid #252525;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    color: white;
  }

  button:hover{
    background: #252525;
  }

a
{
    text-decoration: none !important;
    color: white;
}
